.Quiz {
  flex: 1;
  display: flex;
  align-items: center;
}

.Question {
  position: relative;
}

.Question-imgs {
  font-size: 0;
}

.Question-img {
  width: 50%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: bottom;

  @include bp(tablet) {
    height: 30vh;
    width: 175px;
    margin-right: $pd--m;
  }
}
