.Question {
  position: relative;
}

.Question-img {
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  display: inline-block;
  vertical-align: bottom;
}
